***
## 31. Ï§ëÏ≤© Dict Ï∂îÍ∞Ä (Add Nested Dictionary Items) üíª
***
#### **`Ïó∞ÏäµÏòàÏ†ú`**

`ÏïÑÎûò` **`ÎîïÏÖîÎÑàÎ¶¨(Dict)`** `Ïóê` **`Îëê Í∞ú`** `Ïùò` **`ÏöîÏÜåÎ•º`** `Ï∂îÍ∞ÄÌïòÏÑ∏Ïöî.` **`*Í∞ÄÎä•Ìïú Î∞©Î≤ï Î™®Îëê ÏΩîÎî©Ìï¥Î≥¥ÏÑ∏Ïöî.*`**

```python

# Dict ÏÑ†Ïñ∏
d = {"group1":[
                {'name': 'Park', 'age': '32', 'sex': 'Male'},
                {'name': 'Cho', 'age': '44', 'sex': 'Female'},
                {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}
              ],
     "group2":[
                {'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'},
                {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}
              ],
     "type" : {"a": "employee", "b": "officer", "c": "director", "d": "manager", "e": "service provider"}
    }


# Ï∂îÍ∞Ä1
"group1" : {'name': 'Jung', 'age': '22', 'sex': 'Male', 'married': 'Yes'}
    
    
# Ï∂îÍ∞Ä2
"type" : {"f": "engineer"}
    

# Ï∂úÎ†• Í≤∞Í≥º
 {  "group1":[
                {'name': 'Park', 'age': '32', 'sex': 'Male'},
                {'name': 'Cho', 'age': '44', 'sex': 'Female'},
                {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'},
                {'name': 'Jung', 'age': '22', 'sex': 'Male', 'married': 'Yes'}
              ],
     "group2":[
                {'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'},
                {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}
              ],
     "type" : {"a": "employee", "b": "officer", "c": "director", "d": "manager", "e": "service provider", "f": "engineer"}
  }
```

#### **`ÏΩîÎî©ÏòÅÏó≠`**

In [1]:
d = {"group1":[
                {'name': 'Park', 'age': '32', 'sex': 'Male'},
                {'name': 'Cho', 'age': '44', 'sex': 'Female'},
                {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}
              ],
     "group2":[
                {'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'},
                {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}
              ],
     "type" : {"a": "employee", "b": "officer", "c": "director", "d": "manager", "e": "service provider"}
    }

# Î∞©Î≤ï1
d['group1'].append({'name': 'Jung', 'age': '22', 'sex': 'Male', 'married': 'Yes'})
d['type'].update({"f": "engineer"})

print(d)


# Î∞©Î≤ï2
# d.get('group1').append({'name': 'Jung', 'age': '22', 'sex': 'Male', 'married': 'Yes'})
# d.get('type')['f'] = "engineer"

# print(d)

{'group1': [{'name': 'Park', 'age': '32', 'sex': 'Male'}, {'name': 'Cho', 'age': '44', 'sex': 'Female'}, {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}, {'name': 'Jung', 'age': '22', 'sex': 'Male', 'married': 'Yes'}], 'group2': [{'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'}, {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}], 'type': {'a': 'employee', 'b': 'officer', 'c': 'director', 'd': 'manager', 'e': 'service provider', 'f': 'engineer'}}

***