***
## 32. Dict Î≥ÄÌôò (Convert Dictionary To JSON) üíª
***
#### **`Ïó∞ÏäµÏòàÏ†ú`**

`ÏïÑÎûò` **`ÎîïÏÖîÎÑàÎ¶¨(Dict)`** `ÏùÑ` **`JSON`**  **`ÌòïÏãù`** `ÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî.` **`*ÌûåÌä∏Î•º Ï∞∏Í≥†ÌïòÏÑ∏Ïöî.*`**

```python

# Dict ÏÑ†Ïñ∏
d = {"group1":[
                {'name': 'Park', 'age': '32', 'sex': 'Male'},
                {'name': 'Cho', 'age': '44', 'sex': 'Female'},
                {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}
              ],
     "group2":[
                {'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'},
                {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}
              ],
     "type" : {"a": "employee", "b": "officer", "c": "director", "d": "manager", "e": "service provider"}
    }


# Í≤∞Í≥º
{
    "group1": [
        {
            "name": "Park",
            "age": "32",
            "sex": "Male"
        },
        {
            "name": "Cho",
            "age": "44",
            "sex": "Female"
        },
        {
            "name": "Kang",
            "age": "39",
            "sex": "Female",
            "married": "No"
        }
    ],
    "group2": [
        {
            "name": "Kim",
            "age": "23",
            "sex": "Male",
            "married": "Yes"
        },
        {
            "name": "Lee",
            "age": "37",
            "sex": "Male",
            "married": "No"
        }
    ],
    "type": {
        "a": "employee",
        "b": "officer",
        "c": "director",
        "d": "manager",
        "e": "service provider"
    }
}
```

#### **`ÏΩîÎî©ÏòÅÏó≠`**

In [2]:
d = {"group1":[
                {'name': 'Park', 'age': '32', 'sex': 'Male'},
                {'name': 'Cho', 'age': '44', 'sex': 'Female'},
                {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}
              ],
     "group2":[
                {'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'},
                {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}
              ],
     "type" : {"a": "employee", "b": "officer", "c": "director", "d": "manager", "e": "service provider"}
    }

import json

# Î∞©Î≤ï1
json_obj = json.dumps(d, indent=4)

print(json_obj)


# Î∞©Î≤ï2
with open("/content/32-2.json", "w") as out:
    json.dump(d, out)

{
    "group1": [
        {
            "name": "Park",
            "age": "32",
            "sex": "Male"
        },
        {
            "name": "Cho",
            "age": "44",
            "sex": "Female"
        },
        {
            "name": "Kang",
            "age": "39",
            "sex": "Female",
            "married": "No"
        }
    ],
    "group2": [
        {
            "name": "Kim",
            "age": "23",
            "sex": "Male",
            "married": "Yes"
        },
        {
            "name": "Lee",
            "age": "37",
            "sex": "Male",
            "married": "No"
        }
    ],
    "type": {
        "a": "employee",
        "b": "officer",
        "c": "director",
        "d": "manager",
        "e": "service provider"
    }
}

***