***
## 33. Json Î≥ÄÌôò (Convert JSON To Dictionary) üíª
***
#### **`Ïó∞ÏäµÏòàÏ†ú`**

`ÏïÑÎûò` **`Î¨∏ÏûêÏó¥(JSON Íµ¨Ï°∞)`** `Î•º` **`ÎîïÏÖîÎÑàÎ¶¨(Dict)`**  **`ÌòïÏãù`** `ÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî.` **`*ÌûåÌä∏Î•º Ï∞∏Í≥†ÌïòÏÑ∏Ïöî.*`**

```python

# Dict ÏÑ†Ïñ∏
d = """
    {"group1":[
                {'name': 'Park', 'age': '32', 'sex': 'Male'},
                {'name': 'Cho', 'age': '44', 'sex': 'Female'},
                {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}
              ],
     "group2":[
                {'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'},
                {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}
              ],
     "type" : {"a": "employee", "b": "officer", "c": "director", "d": "manager", "e": "service provider"}
    }
    """


# Í≤∞Í≥º
{'group1':
 [{'name': 'Park', 'age': '32', 'sex': 'Male'},
  {'name': 'Cho', 'age': '44', 'sex': 'Female'},
  {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}
 ],
 'group2':
 [{'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'},
  {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}
 ],
 'type': {
     'a': 'employee', 'b': 'officer', 'c': 'director', 'd': 'manager', 'e': 'service provider'}
  }
```

#### **`ÏΩîÎî©ÏòÅÏó≠`**

In [1]:
d = '''
    {"group1":[
                {'name': 'Park', 'age': '32', 'sex': 'Male'},
                {'name': 'Cho', 'age': '44', 'sex': 'Female'},
                {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}
              ],
     "group2":[
                {'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'},
                {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}
              ],
     "type" : {"a": "employee", "b": "officer", "c": "director", "d": "manager", "e": "service provider"}
    }
    '''

import json

# Î∞©Î≤ï1
result1 = json.loads(d.replace("'", "\""))

# Ï∂úÎ†•
print(result1)
# ÌôïÏù∏
print(type(result1))
print()


# Î∞©Î≤ï2
with open("/content/33-1.json", "r") as out:
    result2 = json.load(out)
    # Ï∂úÎ†•
    print(result2)
    # ÌôïÏù∏
    print(type(result2))

{'group1': [{'name': 'Park', 'age': '32', 'sex': 'Male'}, {'name': 'Cho', 'age': '44', 'sex': 'Female'}, {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}], 'group2': [{'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'}, {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}], 'type': {'a': 'employee', 'b': 'officer', 'c': 'director', 'd': 'manager', 'e': 'service provider'}}
<class 'dict'>

{'group1': [{'name': 'Park', 'age': '32', 'sex': 'Male'}, {'name': 'Cho', 'age': '44', 'sex': 'Female'}, {'name': 'Kang', 'age': '39', 'sex': 'Female', 'married': 'No'}], 'group2': [{'name': 'Kim', 'age': '23', 'sex': 'Male', 'married': 'Yes'}, {'name': 'Lee', 'age': '37', 'sex': 'Male', 'married': 'No'}], 'type': {'a': 'employee', 'b': 'officer', 'c': 'director', 'd': 'manager', 'e': 'service provider'}}
<class 'dict'>

***