***
## 3. 에러 핸들링 (TypeError Handling) 💻
***
#### **`연습예제1`**

`아래 파이썬 코드가 왜` **`에러(예외)`**  `가 발생하는지 생각해보고` **`동작하도록 수정`** `후 코딩영역에 작성하세요.`

```python
x = "Seoul"
y = 25
z = x + y

print(f'x + y : {z}')
```

#### **`코딩영역1`**

In [1]:
x = "Seoul"
y = str(25) # 타입 형변환 int -> string
z = x + y

print(f'x + y : {z}')

x + y : Seoul25

#### **`결과 & 보충설명`**

In [2]:
# 예제1
x = "Seoul"
y = 25
z = x + str(y)

print()
print(f'결과1 > x + y : {z}')

# 예제2
etc = "KoreaSeoul"
# print(f'결과2 > : ' etc()) -> Calling a non-callable 경우

# 예제3
c = [1, 2, 3, 4, 5]
# print(f'결과3 > : 'c["2"]) -> 리스트 인덱스 타입 에러 경우

결과1 > x + y : Seoul25

***